<!-- heredar lo que viene del html base.html-->
{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class=" card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper in massa non auctor. Ut iaculis cursus sagittis. Nullam nibh mauris, eleifend vel lorem non, molestie pulvinar ipsum. Duis in sodales tortor. Nunc quis ipsum ornare magna convallis porta. Donec tristique libero elit, ut dapibus nunc auctor sed. Nullam laoreet vitae nulla eu tempus. Nam vitae eros dictum, dictum lacus nec, bibendum nisi. Proin nec varius orci, eu congue massa. Quisque placerat sapien in gravida vestibulum. In imperdiet id sapien eget sodales.
        
            Quisque eget varius odio, eu malesuada leo. Suspendisse molestie sapien risus, sed pulvinar magna dictum pellentesque. Nulla turpis urna, rutrum vitae sollicitudin quis, vulputate et ante. Aliquam scelerisque metus vel laoreet molestie. In hac habitasse platea dictumst. Donec eget pellentesque arcu. Nulla non blandit nibh, at aliquam massa. Integer nec efficitur ante. Aliquam metus dolor, porta a tincidunt ac, gravida sit amet augue. Morbi nec condimentum urna. Nullam eleifend lorem elit, non condimentum ex laoreet id. Cras ac consequat diam, ac porta magna. Donec ipsum eros, tristique ut ante at, ullamcorper auctor sem.
        
            Aenean id rutrum quam. Cras diam nunc, aliquam non tellus ut, viverra egestas dui. Quisque ac quam accumsan, pharetra massa non, venenatis nulla. Ut aliquam, lorem ut iaculis rhoncus, orci nulla porta quam, id rutrum nisl erat sed nunc. Donec feugiat diam odio, et aliquam tellus eleifend in. Phasellus in ex auctor, volutpat magna eget, finibus justo. Vestibulum dapibus nisl in elementum aliquam. Mauris pretium ante magna. Donec faucibus urna libero, ac porta est dictum in. Nulla pretium molestie arcu, et posuere libero efficitur eget. Aliquam erat volutpat. 
        </p>
        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary">Iniciar Sesión</a>
            <a href="/signup/" class="btn btn-dark">Registrarse</a>
        </div>
    </section>
</main>
    
{% endblock %}
